/*aplicando medias queris para el color del background*/
@media (max-width: 600px) {
/*aplicando a la seccion de los productos*/
  .products{
    display: inherit;
    height: auto;
  }
  .logo_image a img{
   border-radius:100px;
   height: 100px;
   width: 220px;
   margin-left: -200px;
  }

  .product{
    margin-top: auto;
  }

.main_section{
  padding: 4%;
  margin-top: 100px;
}
.main_section  h1{
 font-family: 'Open Sans Condensed', sans-serif;
 font-family: 'Lobster', cursive;
 font-size: 30px;
}

/*barra actualidad*/
.barra_actualidad{
  text-align: center;
  margin-top: 300%;
}

/*Aplicando a la seccion de los details*/
.details{
  display: inherit;
  margin-top: 10%;
}
.detail_box{
  margin-top: -100px;
}
.detail_box h2{
  font-size: 25px;
}


/*Aplicando a al seccion de footer*/
.footer_modulo{
  margin-top: 410%;
}

}

/*Responsive design para iphone 8*/
@media only screen
    and (device-width : 375px)
    and (device-height : 667px)
    and (-webkit-device-pixel-ratio : 2) {
      /*aplicando a la seccion de los productos*/
        .products{
          display: inherit;
          height: auto;
        }
        .logo_image a img{
         border-radius:100px;
         height: 90px;
         width: 160px;
         margin-left: -160px;
        }

        .product{
          margin-top: auto;
        }

      .main_section{
        padding: 4%;
        margin-top: 10px;
      }
      .main_section  h1{
       font-family: 'Open Sans Condensed', sans-serif;
       font-family: 'Lobster', cursive;
       font-size: 30px;
      }

      /*barra actualidad*/
      .barra_actualidad{
        text-align: center;
        margin-top: 400%;
      }

      /*Aplicando a la seccion de los details*/
      .details{
        display: inherit;
        margin-top: 10%;
      }
      .detail_box{
        margin-top: -100px;
        margin-left: -40px;
      }
      .detail_box h2{
        font-size: 25px;
      }


      /*Aplicando a al seccion de footer*/
      .footer_modulo{
        margin-top: 530%;
      }

}
